  
  .page {
    margin:50px;
    /* background-color: rgb(37, 37, 37); */
  }

  /* iframe{
    background-color: black;
    margin-left: 20px;
    height:700px;
    width:90%;
  } */

  h1{
    text-align:center;
    margin: 20px 0;
  }

  h3{
    margin: 20px 0;
  }

  #mapid {
    height: 550px; 
    width:90%;
    margin: auto auto;
  }
